html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.main-view {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
	.main-view section.full-video {
		position: absolute;
		top: 0;
		z-index: 0;
		height: 100%;
	}